body{
    background: #FAFAFA ;
    font-family: 'Fredoka One', cursive;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.conteiner{
    max-width: 1235px;
    background: #ffff;
    margin: 0 auto;
}
/*-----------------------------------header-------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #F9F6F1;
    z-index: 3;
}
.flex-menu{
    position: relative;
}
.flex-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
}
.logo-menu img{
    margin-left: 5px;
    z-index: 4;
}
.nav-items{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
}
.nav-items li{
    margin-right: 20px;
}
.nav-items a{
    padding: 10px 25px;
    border-radius: 5px;

}
.nav-item-active{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #D23166;

}
.nav-items{
    font-family: Roboto ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 06;
}
.nav-items a:hover{
    background: #D23166;
    transition: all 0.3s ease 0s;
    color: #FAFAFA;
}
.batton-menu{
    margin-right: 5px;
}
.btn{
    background-color: #D23166;
    padding: 14px 50px;
    border-radius: 5px;
    color: #FAFAFA ;
    font-family: Hind Madurai ;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.burger__icon{
    display: none;
}

/*-------------------------------- End header ------------------*/

main{
    padding-top: 200px;
}





/*--------------------------------Adaptiv-----------------------*/
@media(max-width: 970px){
body.lock{
    overflow: hidden;
}
.nav-menu {
    display: none;
}

.burger__icon{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
    margin-left: 45px;
}
.burger__icon span{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0px;
    transition: all 0.3s ease 0s;

}
.burger__icon::before,
.burger__icon::after{
    content:'';
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    transition: all 0.3s ease 0s;
}
.burger__icon::before{
    top:0px;
}
.burger__icon::after{
    bottom: 0px;
}
.burger__icon.open span {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
.burger__icon.open::before {
    transform: rotate(45deg);
    top: 9px;
  }
.burger__icon.open::after {
    transform: rotate(-45deg) ;
    bottom: 9px;
  }
  .nav-menu{
      padding-top: 100px;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      background-color: #FAFAFA;
      z-index: 0;
      overflow: auto;
      display: block;
      transition: all 0.6s ease 0s;
  }
  .nav-menu.open{
      padding-top: 100px;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #FAFAFA;
      z-index: -40;
      overflow: auto;
      display: block;
  }
  .nav-items{
      display: block;
  }
  .nav-items{
      margin: 20px 0 0 0;
  }
  .nav-items li {
      padding-bottom: 30px;
  }
}