body{
    background: rgb(244, 116, 116);
    font-family: 'Fredoka One', cursive;
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Roboto', sans-serif;

}
.conteiner{
    max-width: 1235px;
    background: #ffff;
    margin: 0 auto;
}
/*-----------------------------------header-------------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.flex-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-menu img{
    margin-left: 5px;
}
.nav-items{
    display: inline-flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
}
.nav-items li{
    margin-right: 20px;
}
.nav-items a{
    padding: 10px 25px;
    border-radius: 5px;

}
.nav-item-active{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #D23166;

}
.nav-items{
    font-family: Roboto ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 06;
}
.nav-items a:hover{
    background: #D23166;
    transition: all 0.3s ease 0s;
    color: #FAFAFA;
}
.batton-menu{
    margin-right: 5px;
}
.btn{
    background-color: #D23166;
    padding: 14px 50px;
    border-radius: 5px;
    color: #FAFAFA ;
    font-family: Hind Madurai ;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
/*-----------------------------------------End header------------------------*/
.baner{
    height: 5000px;
    background: #FAFAFA;
}